[data-cellid="grid_cell_dpreview"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_dpreview"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_dpreview"][data-page="tb_clientes_lista_cartoes"] {
  background-color: #106be9;
  border: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label1"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label1"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label1"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field1"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field1"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field1"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label2"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label2"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label2"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field2"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field2"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field2"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label3"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label3"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label3"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field3"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field3"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field3"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label4"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label4"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label4"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field4"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field4"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field4"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label5"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label5"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label5"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field5"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field5"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field5"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label6"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label6"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label6"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field6"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field6"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field6"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label7"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label7"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label7"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field7"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field7"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field7"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label10"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label10"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label10"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_field10"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field10"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field10"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
}
[data-cellid="grid_cell_label11"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label11"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_label11"][data-page="tb_clientes_lista_cartoes"] {
  border-left: solid #a8a4a7 1px;
  border-bottom: solid #a8a4a7 2px;
}
[data-cellid="grid_cell_field11"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field11"][data-page="tb_clientes_lista_cartoes"][data-cellid="grid_cell_field11"][data-page="tb_clientes_lista_cartoes"] {
  border-right: solid #a8a4a7 1px;
  border-bottom: solid #a8a4a7 2px;
}


