<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GTDTasks: {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">

	<!-- Rene: Adicionado um favicon.png em todas as paginas em "projeto/header.html" -->
	<link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="./images/gtd_128x128.png">
	<!-- Rene: Final das customizacoes -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel log_audit view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-vertical-field" data-fieldname="id" data-signal-error-for="id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_id}">
		
		{BEGIN id_label}{$label log_audit id }{END id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$id_value}	</div>

		
</div>


{END id_fieldblock}
											
{BEGIN datetime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_datetime}  r-vertical-field" data-fieldname="datetime" data-signal-error-for="datetime{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="datetime" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_datetime}">
		
		{BEGIN datetime_label}{$label log_audit datetime }{END datetime_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$datetime_value}	</div>

		
</div>


{END datetime_fieldblock}
											
{BEGIN ip_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ip}  r-vertical-field" data-fieldname="ip" data-signal-error-for="ip{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="ip" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ip}">
		
		{BEGIN ip_label}{$label log_audit ip }{END ip_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ip_value}	</div>

		
</div>


{END ip_fieldblock}
											
{BEGIN user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user}  r-vertical-field" data-fieldname="user" data-signal-error-for="user{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="user" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_user}">
		
		{BEGIN user_label}{$label log_audit user }{END user_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$user_value}	</div>

		
</div>


{END user_fieldblock}
											
{BEGIN table_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_table}  r-vertical-field" data-fieldname="table" data-signal-error-for="table{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="table" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_table}">
		
		{BEGIN table_label}{$label log_audit table }{END table_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$table_value}	</div>

		
</div>


{END table_fieldblock}
											
{BEGIN action_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_action}  r-vertical-field" data-fieldname="action" data-signal-error-for="action{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="action" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_action}">
		
		{BEGIN action_label}{$label log_audit action }{END action_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$action_value}	</div>

		
</div>


{END action_fieldblock}
											
{BEGIN description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-vertical-field" data-fieldname="description" data-signal-error-for="description{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="description" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_description}">
		
		{BEGIN description_label}{$label log_audit description }{END description_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$description_value}	</div>

		
</div>


{END description_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
