<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GTDTasks: {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">

	<!-- Rene: Adicionado um favicon.png em todas as paginas em "projeto/header.html" -->
	<link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="./images/gtd_128x128.png">
	<!-- Rene: Final das customizacoes -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel log_audit search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id" 
	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label log_audit id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN datetime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_datetime}  r-horizontal-field form-horizontal" 
	
		data-fieldname="datetime" 
	
	data-signal-error-for="datetime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="datetime" >


	<label class="r-search-label control-label" for="{$labelfor_datetime}">
		{$label log_audit datetime }	</label>
	<div class="r-search-option">
		{$searchtype_datetime}
	</div>
	<div class="r-search-field">
		{$datetime_editcontrol}	</div>
	<div class="r-search-field">
		{$datetime_editcontrol1}
	</div>
	
</div>

{END datetime_fieldblock}
											
{BEGIN ip_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ip}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ip" 
	
	data-signal-error-for="ip{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="ip" >


	<label class="r-search-label control-label" for="{$labelfor_ip}">
		{$label log_audit ip }	</label>
	<div class="r-search-option">
		{$searchtype_ip}
	</div>
	<div class="r-search-field">
		{$ip_editcontrol}	</div>
	<div class="r-search-field">
		{$ip_editcontrol1}
	</div>
	
</div>

{END ip_fieldblock}
											
{BEGIN user_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_user}  r-horizontal-field form-horizontal" 
	
		data-fieldname="user" 
	
	data-signal-error-for="user{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="user" >


	<label class="r-search-label control-label" for="{$labelfor_user}">
		{$label log_audit user }	</label>
	<div class="r-search-option">
		{$searchtype_user}
	</div>
	<div class="r-search-field">
		{$user_editcontrol}	</div>
	<div class="r-search-field">
		{$user_editcontrol1}
	</div>
	
</div>

{END user_fieldblock}
											
{BEGIN table_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_table}  r-horizontal-field form-horizontal" 
	
		data-fieldname="table" 
	
	data-signal-error-for="table{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="table" >


	<label class="r-search-label control-label" for="{$labelfor_table}">
		{$label log_audit table }	</label>
	<div class="r-search-option">
		{$searchtype_table}
	</div>
	<div class="r-search-field">
		{$table_editcontrol}	</div>
	<div class="r-search-field">
		{$table_editcontrol1}
	</div>
	
</div>

{END table_fieldblock}
											
{BEGIN action_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_action}  r-horizontal-field form-horizontal" 
	
		data-fieldname="action" 
	
	data-signal-error-for="action{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="action" >


	<label class="r-search-label control-label" for="{$labelfor_action}">
		{$label log_audit action }	</label>
	<div class="r-search-option">
		{$searchtype_action}
	</div>
	<div class="r-search-field">
		{$action_editcontrol}	</div>
	<div class="r-search-field">
		{$action_editcontrol1}
	</div>
	
</div>

{END action_fieldblock}
											
{BEGIN description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-horizontal-field form-horizontal" 
	
		data-fieldname="description" 
	
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="description" >


	<label class="r-search-label control-label" for="{$labelfor_description}">
		{$label log_audit description }	</label>
	<div class="r-search-option">
		{$searchtype_description}
	</div>
	<div class="r-search-field">
		{$description_editcontrol}	</div>
	<div class="r-search-field">
		{$description_editcontrol1}
	</div>
	
</div>

{END description_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
