<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel tb_atividade edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ativ_nm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_nm}  r-horizontal-field form-horizontal" 
	data-fieldname="ativ_nm" 
	data-signal-error-for="ativ_nm{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="ativ_nm" >


	<label class="r-edit-label control-label" for="{$labelfor_ativ_nm}">
		{BEGIN ativ_nm_label}{$label tb_atividade ativ_nm }{END ativ_nm_label}
	</label>
	<div class="r-edit-field">
		{$ativ_nm_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ativ_nm">
		<div class="text-muted" >
		{$tooltip tb_atividade ativ_nm }		</div>
	</div>
</div>


{END ativ_nm_fieldblock}
											
{BEGIN ativ_ds_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_ds}  r-horizontal-field form-horizontal" 
	data-fieldname="ativ_ds" 
	data-signal-error-for="ativ_ds{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ativ_ds" >


	<label class="r-edit-label control-label" for="{$labelfor_ativ_ds}">
		{BEGIN ativ_ds_label}{$label tb_atividade ativ_ds }{END ativ_ds_label}
	</label>
	<div class="r-edit-field">
		{$ativ_ds_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ativ_ds">
		<div class="text-muted" >
		{$tooltip tb_atividade ativ_ds }		</div>
	</div>
</div>


{END ativ_ds_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN lista_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lista_id}  r-horizontal-field form-horizontal" 
	data-fieldname="lista_id" 
	data-signal-error-for="lista_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="lista_id" >


	<label class="r-edit-label control-label" for="{$labelfor_lista_id}">
		{BEGIN lista_id_label}{$label tb_atividade lista_id }{END lista_id_label}
	</label>
	<div class="r-edit-field">
		{$lista_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="lista_id">
		<div class="text-muted" >
		{$tooltip tb_atividade lista_id }		</div>
	</div>
</div>


{END lista_id_fieldblock}
											
{BEGIN ativ_prioridade_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_prioridade}  r-horizontal-field form-horizontal" 
	data-fieldname="ativ_prioridade" 
	data-signal-error-for="ativ_prioridade{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="ativ_prioridade" >


	<label class="r-edit-label control-label" for="{$labelfor_ativ_prioridade}">
		{BEGIN ativ_prioridade_label}{$label tb_atividade ativ_prioridade }{END ativ_prioridade_label}
	</label>
	<div class="r-edit-field">
		{$ativ_prioridade_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ativ_prioridade">
		<div class="text-muted" >
		{$tooltip tb_atividade ativ_prioridade }		</div>
	</div>
</div>


{END ativ_prioridade_fieldblock}
											
{BEGIN ativ_dt_ini_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_dt_ini}  r-horizontal-field form-horizontal" 
	data-fieldname="ativ_dt_ini" 
	data-signal-error-for="ativ_dt_ini{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="ativ_dt_ini" >


	<label class="r-edit-label control-label" for="{$labelfor_ativ_dt_ini}">
		{BEGIN ativ_dt_ini_label}{$label tb_atividade ativ_dt_ini }{END ativ_dt_ini_label}
	</label>
	<div class="r-edit-field">
		{$ativ_dt_ini_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ativ_dt_ini">
		<div class="text-muted" >
		{$tooltip tb_atividade ativ_dt_ini }		</div>
	</div>
</div>


{END ativ_dt_ini_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
																

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="3"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN stat_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_id}  r-horizontal-field form-horizontal" 
	data-fieldname="stat_id" 
	data-signal-error-for="stat_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="stat_id" >


	<label class="r-edit-label control-label" for="{$labelfor_stat_id}">
		{BEGIN stat_id_label}{$label tb_atividade stat_id }{END stat_id_label}
	</label>
	<div class="r-edit-field">
		{$stat_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="stat_id">
		<div class="text-muted" >
		{$tooltip tb_atividade stat_id }		</div>
	</div>
</div>


{END stat_id_fieldblock}
											
{BEGIN ativ_concluida_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_concluida}  r-horizontal-field form-horizontal" 
	data-fieldname="ativ_concluida" 
	data-signal-error-for="ativ_concluida{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="ativ_concluida" >


	<label class="r-edit-label control-label" for="{$labelfor_ativ_concluida}">
		{BEGIN ativ_concluida_label}{$label tb_atividade ativ_concluida }{END ativ_concluida_label}
	</label>
	<div class="r-edit-field">
		{$ativ_concluida_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ativ_concluida">
		<div class="text-muted" >
		{$tooltip tb_atividade ativ_concluida }		</div>
	</div>
</div>


{END ativ_concluida_fieldblock}
											
{BEGIN ativ_dt_fim_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_dt_fim}  r-horizontal-field form-horizontal" 
	data-fieldname="ativ_dt_fim" 
	data-signal-error-for="ativ_dt_fim{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="ativ_dt_fim" >


	<label class="r-edit-label control-label" for="{$labelfor_ativ_dt_fim}">
		{BEGIN ativ_dt_fim_label}{$label tb_atividade ativ_dt_fim }{END ativ_dt_fim_label}
	</label>
	<div class="r-edit-field">
		{$ativ_dt_fim_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ativ_dt_fim">
		<div class="text-muted" >
		{$tooltip tb_atividade ativ_dt_fim }		</div>
	</div>
</div>


{END ativ_dt_fim_fieldblock}
	
								</td>
			{END cellblock_grid_c6}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
