<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel tb_status_atividades edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
</div>
</div>
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN stat_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_id}  r-vertical-field" 
	data-fieldname="stat_id" 
	data-signal-error-for="stat_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="stat_id" >


	<label class="r-edit-label control-label" for="{$labelfor_stat_id}">
		{BEGIN stat_id_label}{$label tb_status_atividades stat_id }{END stat_id_label}
	</label>
	<div class="r-edit-field">
		{$stat_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="stat_id">
		<div class="text-muted" >
		{$tooltip tb_status_atividades stat_id }		</div>
	</div>
</div>


{END stat_id_fieldblock}
											
{BEGIN clie_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_clie_id}  r-vertical-field" 
	data-fieldname="clie_id" 
	data-signal-error-for="clie_id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="clie_id" >


	<label class="r-edit-label control-label" for="{$labelfor_clie_id}">
		{BEGIN clie_id_label}{$label tb_status_atividades clie_id }{END clie_id_label}
	</label>
	<div class="r-edit-field">
		{$clie_id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="clie_id">
		<div class="text-muted" >
		{$tooltip tb_status_atividades clie_id }		</div>
	</div>
</div>


{END clie_id_fieldblock}
											
{BEGIN stat_nm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_nm}  r-vertical-field" 
	data-fieldname="stat_nm" 
	data-signal-error-for="stat_nm{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="stat_nm" >


	<label class="r-edit-label control-label" for="{$labelfor_stat_nm}">
		{BEGIN stat_nm_label}{$label tb_status_atividades stat_nm }{END stat_nm_label}
	</label>
	<div class="r-edit-field">
		{$stat_nm_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="stat_nm">
		<div class="text-muted" >
		{$tooltip tb_status_atividades stat_nm }		</div>
	</div>
</div>


{END stat_nm_fieldblock}
											
{BEGIN stat_ds_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_ds}  r-vertical-field" 
	data-fieldname="stat_ds" 
	data-signal-error-for="stat_ds{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="stat_ds" >


	<label class="r-edit-label control-label" for="{$labelfor_stat_ds}">
		{BEGIN stat_ds_label}{$label tb_status_atividades stat_ds }{END stat_ds_label}
	</label>
	<div class="r-edit-field">
		{$stat_ds_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="stat_ds">
		<div class="text-muted" >
		{$tooltip tb_status_atividades stat_ds }		</div>
	</div>
</div>


{END stat_ds_fieldblock}
											
{BEGIN stat_fl_ativo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_fl_ativo}  r-vertical-field" 
	data-fieldname="stat_fl_ativo" 
	data-signal-error-for="stat_fl_ativo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="stat_fl_ativo" >


	<label class="r-edit-label control-label" for="{$labelfor_stat_fl_ativo}">
		{BEGIN stat_fl_ativo_label}{$label tb_status_atividades stat_fl_ativo }{END stat_fl_ativo_label}
	</label>
	<div class="r-edit-field">
		{$stat_fl_ativo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="stat_fl_ativo">
		<div class="text-muted" >
		{$tooltip tb_status_atividades stat_fl_ativo }		</div>
	</div>
</div>


{END stat_fl_ativo_fieldblock}
											
{BEGIN inclu_dt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inclu_dt}  r-vertical-field" 
	data-fieldname="inclu_dt" 
	data-signal-error-for="inclu_dt{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="inclu_dt" >


	<label class="r-edit-label control-label" for="{$labelfor_inclu_dt}">
		{BEGIN inclu_dt_label}{$label tb_status_atividades inclu_dt }{END inclu_dt_label}
	</label>
	<div class="r-edit-field">
		{$inclu_dt_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inclu_dt">
		<div class="text-muted" >
		{$tooltip tb_status_atividades inclu_dt }		</div>
	</div>
</div>


{END inclu_dt_fieldblock}
											
{BEGIN alter_dt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alter_dt}  r-vertical-field" 
	data-fieldname="alter_dt" 
	data-signal-error-for="alter_dt{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="alter_dt" >


	<label class="r-edit-label control-label" for="{$labelfor_alter_dt}">
		{BEGIN alter_dt_label}{$label tb_status_atividades alter_dt }{END alter_dt_label}
	</label>
	<div class="r-edit-field">
		{$alter_dt_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="alter_dt">
		<div class="text-muted" >
		{$tooltip tb_status_atividades alter_dt }		</div>
	</div>
</div>


{END alter_dt_fieldblock}
											
{BEGIN inclu_login_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inclu_login}  r-vertical-field" 
	data-fieldname="inclu_login" 
	data-signal-error-for="inclu_login{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="inclu_login" >


	<label class="r-edit-label control-label" for="{$labelfor_inclu_login}">
		{BEGIN inclu_login_label}{$label tb_status_atividades inclu_login }{END inclu_login_label}
	</label>
	<div class="r-edit-field">
		{$inclu_login_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="inclu_login">
		<div class="text-muted" >
		{$tooltip tb_status_atividades inclu_login }		</div>
	</div>
</div>


{END inclu_login_fieldblock}
											
{BEGIN alter_login_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alter_login}  r-vertical-field" 
	data-fieldname="alter_login" 
	data-signal-error-for="alter_login{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="alter_login" >


	<label class="r-edit-label control-label" for="{$labelfor_alter_login}">
		{BEGIN alter_login_label}{$label tb_status_atividades alter_login }{END alter_login_label}
	</label>
	<div class="r-edit-field">
		{$alter_login_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="alter_login">
		<div class="text-muted" >
		{$tooltip tb_status_atividades alter_login }		</div>
	</div>
</div>


{END alter_login_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
							{BEGIN view_page_button}
	<li data-itemtype="edit_view" data-itemid="edit_view" {$item_edit_view} data-pageid="{$pageid}" data-small >
				<a  {$view_page_button_attrs}  title="" >
				
		{mlang_message VIEW}		
		</a>
	</li>
{END view_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
