<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GTDTasks: {$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">

	<!-- Rene: Adicionado um favicon.png em todas as paginas em "projeto/header.html" -->
	<link href="../images/favicon.png" rel="shortcut icon" type="image/x-icon">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon" href="./images/gtd_128x128.png">
	<!-- Rene: Final das customizacoes -->
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel vw_tarefas_rotulos view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Rotulos_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Rotulos}  r-vertical-field" data-fieldname="Rotulos" data-signal-error-for="Rotulos{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Rotulos" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Rotulos}">
		
		{BEGIN Rotulos_label}{$label vw_tarefas_rotulos Rotulos }{END Rotulos_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Rotulos_value}	</div>

		
</div>


{END Rotulos_fieldblock}
											
{BEGIN ativ_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_id}  r-vertical-field" data-fieldname="ativ_id" data-signal-error-for="ativ_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="ativ_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_id}">
		
		{BEGIN ativ_id_label}{$label vw_tarefas_rotulos ativ_id }{END ativ_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_id_value}	</div>

		
</div>


{END ativ_id_fieldblock}
											
{BEGIN clie_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_clie_id}  r-vertical-field" data-fieldname="clie_id" data-signal-error-for="clie_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="clie_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_clie_id}">
		
		{BEGIN clie_id_label}{$label vw_tarefas_rotulos clie_id }{END clie_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$clie_id_value}	</div>

		
</div>


{END clie_id_fieldblock}
											
{BEGIN ativ_nm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_nm}  r-vertical-field" data-fieldname="ativ_nm" data-signal-error-for="ativ_nm{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="ativ_nm" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_nm}">
		
		{BEGIN ativ_nm_label}{$label vw_tarefas_rotulos ativ_nm }{END ativ_nm_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_nm_value}	</div>

		
</div>


{END ativ_nm_fieldblock}
											
{BEGIN cate_nm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cate_nm}  r-vertical-field" data-fieldname="cate_nm" data-signal-error-for="cate_nm{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="cate_nm" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cate_nm}">
		
		{BEGIN cate_nm_label}{$label vw_tarefas_rotulos cate_nm }{END cate_nm_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cate_nm_value}	</div>

		
</div>


{END cate_nm_fieldblock}
											
{BEGIN ativ_ds_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_ds}  r-vertical-field" data-fieldname="ativ_ds" data-signal-error-for="ativ_ds{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="ativ_ds" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_ds}">
		
		{BEGIN ativ_ds_label}{$label vw_tarefas_rotulos ativ_ds }{END ativ_ds_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_ds_value}	</div>

		
</div>


{END ativ_ds_fieldblock}
											
{BEGIN lista_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lista_id}  r-vertical-field" data-fieldname="lista_id" data-signal-error-for="lista_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="lista_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_lista_id}">
		
		{BEGIN lista_id_label}{$label vw_tarefas_rotulos lista_id }{END lista_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$lista_id_value}	</div>

		
</div>


{END lista_id_fieldblock}
											
{BEGIN lista_nm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_lista_nm}  r-vertical-field" data-fieldname="lista_nm" data-signal-error-for="lista_nm{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="lista_nm" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_lista_nm}">
		
		{BEGIN lista_nm_label}{$label vw_tarefas_rotulos lista_nm }{END lista_nm_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$lista_nm_value}	</div>

		
</div>


{END lista_nm_fieldblock}
											
{BEGIN stat_id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_id}  r-vertical-field" data-fieldname="stat_id" data-signal-error-for="stat_id{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="stat_id" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_stat_id}">
		
		{BEGIN stat_id_label}{$label vw_tarefas_rotulos stat_id }{END stat_id_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$stat_id_value}	</div>

		
</div>


{END stat_id_fieldblock}
											
{BEGIN stat_nm_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_stat_nm}  r-vertical-field" data-fieldname="stat_nm" data-signal-error-for="stat_nm{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="stat_nm" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_stat_nm}">
		
		{BEGIN stat_nm_label}{$label vw_tarefas_rotulos stat_nm }{END stat_nm_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$stat_nm_value}	</div>

		
</div>


{END stat_nm_fieldblock}
											
{BEGIN ativ_fl_ativo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_fl_ativo}  r-vertical-field" data-fieldname="ativ_fl_ativo" data-signal-error-for="ativ_fl_ativo{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="ativ_fl_ativo" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_fl_ativo}">
		
		{BEGIN ativ_fl_ativo_label}{$label vw_tarefas_rotulos ativ_fl_ativo }{END ativ_fl_ativo_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_fl_ativo_value}	</div>

		
</div>


{END ativ_fl_ativo_fieldblock}
											
{BEGIN ativ_prioridade_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_prioridade}  r-vertical-field" data-fieldname="ativ_prioridade" data-signal-error-for="ativ_prioridade{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="ativ_prioridade" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_prioridade}">
		
		{BEGIN ativ_prioridade_label}{$label vw_tarefas_rotulos ativ_prioridade }{END ativ_prioridade_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_prioridade_value}	</div>

		
</div>


{END ativ_prioridade_fieldblock}
											
{BEGIN ativ_concluida_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_concluida}  r-vertical-field" data-fieldname="ativ_concluida" data-signal-error-for="ativ_concluida{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="ativ_concluida" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_concluida}">
		
		{BEGIN ativ_concluida_label}{$label vw_tarefas_rotulos ativ_concluida }{END ativ_concluida_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_concluida_value}	</div>

		
</div>


{END ativ_concluida_fieldblock}
											
{BEGIN ativ_dt_ini_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_dt_ini}  r-vertical-field" data-fieldname="ativ_dt_ini" data-signal-error-for="ativ_dt_ini{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="ativ_dt_ini" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_dt_ini}">
		
		{BEGIN ativ_dt_ini_label}{$label vw_tarefas_rotulos ativ_dt_ini }{END ativ_dt_ini_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_dt_ini_value}	</div>

		
</div>


{END ativ_dt_ini_fieldblock}
											
{BEGIN ativ_dt_fim_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ativ_dt_fim}  r-vertical-field" data-fieldname="ativ_dt_fim" data-signal-error-for="ativ_dt_fim{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="ativ_dt_fim" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ativ_dt_fim}">
		
		{BEGIN ativ_dt_fim_label}{$label vw_tarefas_rotulos ativ_dt_fim }{END ativ_dt_fim_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ativ_dt_fim_value}	</div>

		
</div>


{END ativ_dt_fim_fieldblock}
											
{BEGIN inclu_login_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inclu_login}  r-vertical-field" data-fieldname="inclu_login" data-signal-error-for="inclu_login{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="inclu_login" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inclu_login}">
		
		{BEGIN inclu_login_label}{$label vw_tarefas_rotulos inclu_login }{END inclu_login_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inclu_login_value}	</div>

		
</div>


{END inclu_login_fieldblock}
											
{BEGIN inclu_dt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_inclu_dt}  r-vertical-field" data-fieldname="inclu_dt" data-signal-error-for="inclu_dt{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="inclu_dt" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_inclu_dt}">
		
		{BEGIN inclu_dt_label}{$label vw_tarefas_rotulos inclu_dt }{END inclu_dt_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$inclu_dt_value}	</div>

		
</div>


{END inclu_dt_fieldblock}
											
{BEGIN alter_login_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alter_login}  r-vertical-field" data-fieldname="alter_login" data-signal-error-for="alter_login{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="alter_login" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_alter_login}">
		
		{BEGIN alter_login_label}{$label vw_tarefas_rotulos alter_login }{END alter_login_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$alter_login_value}	</div>

		
</div>


{END alter_login_fieldblock}
											
{BEGIN alter_dt_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_alter_dt}  r-vertical-field" data-fieldname="alter_dt" data-signal-error-for="alter_dt{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="alter_dt" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_alter_dt}">
		
		{BEGIN alter_dt_label}{$label vw_tarefas_rotulos alter_dt }{END alter_dt_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$alter_dt_value}	</div>

		
</div>


{END alter_dt_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							{mlang_message CLOSE_WINDOW}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
